
/********************
 Reset General Style
*********************/ 

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;

    font-family: 'Poppins', sans-serif;
}


/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/**********************
     Actual Styling 
***********************/


.t_0_75 {
    font-size: 0.85rem;
}

.gap_25 {
    gap: 25px;
}

/*  HEADER */


    header {
            /*width: 1920px;*/
        padding: 10px 100px;
        height: 80px;
        left: 20px;
        top: 20px;
    }
    header a, header a:hover, header a:link  {
        text-decoration: none;
        color: #000;
    }

    .flex {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        align-content: center;

        gap: 10px;
    }

    .flex .left_part, .flex .right_part  {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center;
        align-content: center;

        gap: 5px;
    }


    .flex .logo img {
        width: 1.5rem;
        height: 1.5rem;
    }

    .flex .title {
        font-weight: 600;
        font-size: 1rem;
    }

    .flex .avatar {
        width: 2.5rem;
        height: 2.5rem;
        background: url("/assets/avatar.jpg");
        background-size: cover;
        background-position: center;
        border-radius: 50%;
        background-position-x: center;
        background-position-y: center;

    }

    .flex .card_icon {
        margin-right: 20px;
    }


    .flex .login_title a {
        text-decoration: none; 
        color: #000;
    }

    .flex .login_title a:hover {
        text-decoration: none;
        text-decoration:underline;
    }

/*  FOOTER */
footer {
    margin-top: 2rem;
    text-align: center;
    font-size: 0.8rem;
}



/*  PAGE Main Content */

    .main {
        text-align: center;
        padding: 72px 100px 10px ;
        /*background-color: #ff0;*/
    }

    .page_title {
        font-size: 2.625rem;
        font-weight: 600;
    }

    .main  .flex .left_part, .main .flex .right_part  {
        gap: 30px;
    }


    /* Products List */

    .products_list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
        align-content: flex-start;

        gap: 25px;
    }

    .products_list .product {
        width: calc(25% - 20px);
        height: 100%;
        text-align: left;
        margin-top: 1rem;
       
    }

    .products_list .product .cover_image {
        width:100%; 
        height: 565px;
        background-size: cover;
        background-position: center;
        background-color: #efefef;
        border: 1px solid #efefef;
        border-radius: 10px;
    }

    .product_list_description {
        margin-top: 7px;
        font-size: 1.125rem;
        font-weight: 500;
        color: #000;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: left;
        align-content: flex-start;
        gap: 2px;
    }

    .product a {
        text-decoration: none;
    }


    .meta {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: baseline;
        align-content: stretch;
        gap: 1rem;
        margin-top: 3rem;
    }

    .meta a {
        white-space: nowrap;
        min-width: 2rem;
        border: 1px #ff400000 solid;
        text-decoration: none;
        color: #212B36;
        padding:5px;
    }

    .meta a.active, .meta a:hover {
        color: #FF4000;    
        border: 1px #FF4000 solid; 
        border-radius: 5px;
    }


    /* page not found */

    .page_not_found {
        text-align: center;
        padding: 100px;
    }


    /* product page */
    .product_section {
        padding-top: 30px;
    }

    .product {
        margin-top: 50px;
        align-items: flex-start !important;
    }


    .product_thumbnails .thumbnail_image {
        width: 120px;
        height: 160px;
        background-size: cover;
        background-position: center;
        border: 1px #efefef solid;
        margin: 0px 0 10px;
    }

    .product .main_photo {
        border-radius: 10px; 
        width: 700px;
        height: 930px;
        background-size: cover;
        background-position: center;
        border: 1px #efefef solid;
    }

    .product .product_info {
        width: 700px;
        height: auto;
        text-align: left;
    }

    .product .product_info .product_title,
    .product .product_info .product_price 
     { 
        height: 3rem; 
        font-size: 1.8rem;
        font-weight: 500;
        margin-bottom: 1.6rem;
    }
   
    .product .product_info .product_features_title { 
        margin-top: 3rem;
        font-size: 1rem;
    }

    .colors_available, .sizes_available {
        margin-top: 1rem;
        display:flex;
        justify-content: flex-start;
        align-items: flex-start;
        align-content: flex-start;
        gap: 13px;

    }
    .color_circle  {
        width: 38px; 
        height: 38px;
        border-radius: 50%;
        padding: 5px;
        border: 1px solid  #efefef;
    }

    .sizes_available {
        gap: 10px;
    }
    .size_quad {
        text-align: center;
        width: 70px; 
        height: 42px;
        padding: 8px;
        border-radius: 10px;
        border: 1px solid  #E1DFE1;
        white-space: nowrap;
    }

    .size_quad.active { 
        border-color: #10151F;
        background-color:  #F8F6F7;
    }

    .product_detailes img {
        width: 100px;
    }

    .add_to_Cart_button {
        width: 100%;
        border-radius: 10px;
        background-color: #FF4000;
        color: white;
        margin: 2rem 0;
        text-align: center;
        padding: 20px; 
        font-size: 1.125rem;
    }

    .add_to_Cart_button svg{ fill: rgb(255, 255, 255); color: white; }